@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Style+Script&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1rem;
    /* font-family: sans-serif; */
    /* color: #fff */
}

header {
    height: 50px;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

nav a {
    color: rgba(255,255,255, .8);
    text-decoration: none;
    letter-spacing: .1rem;
    font-weight: 500;
    transition: color .15s ease-in-out;
}

nav a:hover {
    color: rgba(255,255,255, 1)
}

nav:not(.logo-container) a {
    margin-left: 1rem;
    text-transform: uppercase;
}

.logo-container a, span.logo {
    font-family: 'Style Script', cursive;
    font-size: 1.7rem;
    font-style: italic;
}

span.logo {
    color: var(--bs-primary);
}

.logo-container a span {
    font-style: normal;
}

main {
    margin-top: 50px;
    padding-top: 2rem;
    min-height: calc(100vh - 50px);
}

.btn {
    letter-spacing: .1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.splash {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: -1;
    height: calc(100vh - 50px);
    overflow: hidden;
    background-image: url("/images/pexels-denise-duplinski-3819818.jpg");
    background-size: cover;
    background-position: 50% 25%;
}

.overlay {
    background-color: rgba(0,0,0, .3);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

@media screen and (min-width: 992px) {
    .splash {
        position: relative;
        top: 0;
    }
    .overlay {
        display: none;
    }
}