% include("header", title="Feed")
    <main class="container-md">
        <div class="row justify-content-center mb-3">
            <div class="col-12 text-center mb-3">
                <h1>Feed</h1>
            </div>
            <div class="col-sm-8 col-lg-6">
                <form action="/create-post" method="POST">
                    <div class="input-group mb-3">
                        <textarea name="post_content" placeholder="Twat something..." rows="1" class="form-control"></textarea>
                        <div class="input-group-append">
                            <button class="btn btn-primary">Share Twat</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="posts" class="row justify-content-center">
            <div class="col-sm-8 col-lg-6">
                % for post in posts:
                <div class="card mb-3 mb-md-4">
                    <div class="card-header">
                        <p class="card-title mb-0">{{ post["user_first_name"] }}</p>
                        <p class="small opacity-50 mb-0">{{ post["user_email"] }}</p>
                    </div>
                    <div class="card-body position-relative py-0">
                        <div class="w-100 border-top mb-3"></div>
                        <div class="row">
                            <div class="col-12">
                                % if update_post and post["id"] == update_post["id"]:
                                    <form action="/update-post" method="POST">
                                        <input name="post_id" type="hidden" value='{{ update_post["id"] }}'>
                                        <div class="input-group">
                                            <textarea name="post_content" class="form-control" rows="1">{{ update_post["post_content"] }}</textarea>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-primary">Update Twat</button>
                                            </div>
                                        </div>
                                    </form>
                                % else:
                                    <p class="mb-0 pe-5">{{ post["post_content"] }}</p>
                                % end
                                % if (not update_post and post["user_id"] == user["user_id"]) or (post["user_id"] == user["user_id"] and not post['id'] == update_post['id']):
                                    <a class="update-post small" href="/feed?update={{ post['id'] }}">Edit</a>
                                % end
                            </div>
                        </div>
                        <div class="w-100 border-bottom mt-3"></div>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <time class="small opacity-50">{{ post["post_date"]}}</time>
                        % if post["user_id"] == user["user_id"]:
                            <form action="/delete-post" method="POST">
                                <input name="post_id" type="hidden" value='{{ post["id"] }}'>
                                <button class="delete-post small">Delete Twat</button>
                            </form>
                        % end
                    </div>
                </div>
                % end

            </div>
        </div>
    </main>
% include("footer")