% include("header", title="Log in")
    <main class="container-md">
        <div class="row justify-content-center">
            <div class="col-12 mb-3 text-center">
                <h1>Log in</h1>
            </div>
            <div class="col-sm-8 col-md-6 col-xl-4">
                <form action="/login" method="POST">
                    <div class="mb-3">
                        <label for="user_email" class="form-label">E-mail</label>
                        <input id="user_email" class="form-control" name="user_email" type="text" placeholder="E-mail" autocomplete="email" value="{{ user_email or '' }}">
                        % if error and error["error_type"] == "user_email":
                            <span class="form-text invalid-feedback d-block">{{ error["error_message"] }}</span>
                        % end
                    </div>
                    <div class="mb-3">
                        <label for="user_password" class="form-label">Password</label>
                        <input id="user_password" class="form-control" name="user_password" type="password" placeholder="Password">
                        % if error and error["error_type"] == "user_password":
                            <span class="form-text invalid-feedback d-block">{{ error["error_message"] }}</span>
                        % end
                    </div>
                    % if error and error["error_type"] == "non_existing_user":
                        <div class="mb-3">
                            <span class="form-text invalid-feedback d-block">{{ error["error_message"] }}</span>
                        </div>
                    % end
                    <button class="btn btn-primary">Log in</button>
                </form>
            </div>
        </div>
        
        % for user in users:
            <div>
                {{user["user_email"]}}
                {{user["user_password"]}}
            </div>
        % end
    </main>
% include("footer")