% include("header", title="Sign up")
    <main class="container-md">
        <div class="row justify-content-center">
            <div class="col-12 text-center mb-3">
                <h1>Create your account</h1>
            </div>
            <div class="col-sm-8 col-md-6 col-xl-4">
                <form action="/signup" method="POST">
                    <div class="mb-3">
                        <label for="user_first_name" class="form-label">Fist name</label>
                        <input id="user_first_name" class="form-control" name="user_first_name" type="text" placeholder="First name" autocomplete="given-name" value="{{ user_first_name or '' }}">
                        % if error and error["error_type"] == "user_first_name":
                            <span class="form-text invalid-feedback d-block">{{ error["error_message"] }}</span>
                        % end
                    </div>
                    <div class="mb-3">
                        <label for="user_last_name" class="form-label">Last name</label>
                        <input id="user_last_name" class="form-control" name="user_last_name" type="text" placeholder="Last name" autocomplete="family-name" value="{{ user_last_name or '' }}">
                        % if error and error["error_type"] == "user_last_name":
                            <span class="form-text invalid-feedback d-block">{{ error["error_message"] }}</span>
                        % end
                    </div>
                    <div class="mb-3">
                        <label for="user_email" class="form-label">E-mail</label>
                        <input id="user_email" class="form-control" name="user_email" type="text" placeholder="E-mail" autocomplete="email" value="{{ user_email or '' }}">
                        % if error and error["error_type"] == "user_email":
                            <span class="form-text invalid-feedback d-block">{{ error["error_message"] }}</span>
                        % end
                    </div>
                    <div class="mb-3">
                        <label for="user_password" class="form-label">Password</label>
                        <input id="user_password" class="form-control" name="user_password" type="password" placeholder="Password">
                        % if error and error["error_type"] == "user_password":
                            <span class="form-text invalid-feedback d-block">{{ error["error_message"] }}</span>
                        % else:
                            <span class="form-text">Your password must be at least 8 characters, and contain at least 1 uppercase letter, 1 lowercase letter and 1 number.</span>
                        % end
                        </div>
                    <div class="mb-3">
                        <label for="user_confirm_password" class="form-label">Confirm password</label>
                        <input id="user_confirm_password" class="form-control" name="user_confirm_password" type="password" placeholder="Confirm password">
                        % if error and error["error_type"] == "user_confirm_password":
                            <span class="form-text invalid-feedback d-block">{{ error["error_message"] }}</span>
                        % end
                    </div>
                    <div class="w-100 d-flex justify-content-center">
                        <button class="btn btn-primary text-nowrap">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
% include("footer")